@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Satoshi-Variable';
      src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
           url('../fonts/Satoshi-Variable.woff') format('woff'),
           url('../fonts/Satoshi-Variable.ttf') format('truetype');
      font-weight: 300 900;
      font-display: swap;
      font-style: normal;
      font-feature-settings: 'salt';
    }
    body {
        font-feature-settings: 'salt';
        @apply text-blue-950;
    }
    .transition-height-opacity {
        transition: max-height 0.3s ease, opacity 0.3s ease;
    }
    #sidebar {
        width: 256px;
    }
    #sidebar.menu-collapsed {
        width: 60px;
    }
    #sidebar.menu-collapsed nav > div a {
        display: flex;
    }
    #sidebar.menu-collapsed nav > a,
    #sidebar.menu-collapsed nav > div > a {
        justify-content: center;
        height: 40px;
    }
    #sidebar.menu-collapsed nav > a span,
    #sidebar.menu-collapsed nav > div > a span,
    #sidebar.menu-collapsed nav .dropdown-arrow,
    #sidebar.menu-collapsed nav #formsMenu {
        display: none;
    }
    #main-content.menu-collapsed {
        padding-left: 60px;
    }
    .flyout-menu {
        display: none;
    }
    #sidebar.menu-collapsed .flyout-menu {
        display: block;
    }
    #formsFlyout {
        top: 52px !important;
    }
    #eventsFlyout {
        top: 92px !important;
    }
    #callFlyout {
        top: 130px !important;
    }
    #conversationsFlyout {
        top: 164px !important;
    }
    #broadcastsFlyout {
        top: 214px !important;
    }
    #organisationsFlyout {
        top: 250px !important;
    }
    #contactsFlyout {
        top: 332px !important;
    }
    #main-content--sidebar {
        transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    #main-content--sidebar.hide-content h2,
    #main-content--sidebar.hide-content .main-content--sidebar-submenu {
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
    }
}
